<div class="tabs">
  <ul>
    <li class=<%= class_if('is-active', ad_kind == "supply") %>>
      <%= link_to I18n.t("ad.kinds.supply"), root_path %>
    </li>
    <li class=<%= class_if('is-active', ad_kind == "demand") %>>
      <%= link_to I18n.t("ad.kinds.demand"), root_path(kind: "demand") %>
    </li>
  </ul>
</div>

