version: "3.3"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
  web:
    build: .
    volumes:
      - .:/potres-app
    environment:
      DATABASE_URL: "postgres://postgres:password@db/potres_development"
    ports:
      - "3000:3000"
    depends_on:
      - db