/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "hero";

.icon > svg {
  width: inherit;
  height: inherit;
}

input[type=checkbox].is-danger {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
  box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
}

.card.supply {
  border-left: 4px solid hsl(141, 71%, 48%);
}

.card.demand {
  border-left: 4px solid hsl(348, 100%, 61%);
}

.chevron {
  transition: all 0.3s ease;
}

.chevron.down {
  transform: rotate(90deg);
}

// Bulma for Select2
.select2-container {
  .select2-selection--single {
    height: auto !important;
    padding: 5px 0 !important;
    border: 1px solid #dbdbdb !important;

    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__placeholder {
      color: #dbdbdb !important;
    }

    .select2-selection__rendered {
      // this matches Bulma's dropdown padding
      padding-left: calc(.75em - 1px) !important;
      padding-right: 2.5em !important;
    }
  }

  .select2-dropdown {
    border: 1px solid #dbdbdb !important;
    border-top: 0 !important;

    .select2-search {
      margin: 5px;

      .select2-search__field {
        padding: 10px !important;
        border-radius: 3px !important;
        font-size: 1rem;
        height: 2.25em;
        box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
        max-width: 100%;
        width: 100%;
        border-radius: 3px !important;
      }
    }

    .select2-results__options {
      max-height: 200px !important;

      .select2-results__option {
        padding: 0.37em 0.75em !important;
        font-size: 1rem;

        &.select2-results__option--highlighted {
        }
      }
    }
  }
}
