<div id="external-links" class="card mb-6" data-controller="card">
  <header class="card-header">
    <p class="card-header-title">
      Vanjske poveznice s popisima ponude smještaja i prijevoza
    </p>
    <a href="javascript:void(0)" class="card-header-icon" aria-label="hide links" data-action="card#toggle">
      <span class="icon chevron" data-card-target="chevron">
        <%= inline_svg_tag('chevron-right.svg', aria: true) %>
      </span>
    </a>
  </header>
  <div class="card-content" data-card-target="content" hidden="true">
    <div class="content">
      <ul>
        <li><a href="https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs/mobilebasic"  target="_blank">
          Pomoć obiteljima iz Petrinje, Siska i okolice - kontakti, smještaj i prijevoz - Google doc (preview)
        </a></li>
        <li><a href="https://docs.google.com/document/d/1yUxHtKCkkXEQ8tXTD2bODbisxwF5Q9zvPJoU27vQGUM/edit?fbclid=IwAR0g1F__7avcVpOlf__NQgBq626LDmDNyz42k545TT5MCjTLMvf4De9tvMs" target="_blank">
          Pomoć za Petrinju - Google doc
        </a></li>
        <li><a href="https://www.facebook.com/groups/155412969344431/permalink/155812429304485/" target="_blank">
          POMOC GLINI, PETRINJI, SISKU i okolnim mjestima - Facebook grupa
        </a></li>
        <li><a href="https://potres2020.openit.hr/views/map" target="_blank">
          Potres 2020 - mapa pomoći
        </a></li>
      </ul>
    </div>
  </div>
</div>
